.title {
  margin-top: 35px;
  margin-bottom: 35px;
  text-align: center;
}
#title{
  margin-top:10px;
}
.upload{
  text-align: center;
  margin-top: 35px;
}
#loadImg {
  display: none;
}
.conCenter {
  text-align: center;
}

img.zoom {
  display: inline-block;
  width: 40px;
}
.zoomtool{
  padding-left:0px;
}
.zoomtoolrow{
padding-top: 5px;
padding-bottom:5px;
}
#zoomreset{
  margin-right:15px;
}
#zoomout {
  margin-right: 5px;
}
.redo{
  width: 40px;
  border: 1px solid #cacaca;
  border-radius: 10px;
  padding:5px;
}
.redo:hover{
  cursor: pointer;
}
#zoomtext {
  width: 35px;
  height: 40px;
  padding: 0px;
  z-index: 2;
  position: absolute;
}
#zoomselect {
  z-index: 1;
  width: 55px;
  height: 40px;
  padding: 0px;
  position: absolute;
}
.buttontool {
  padding-top: 10px;
}
.redo:hover{
  cursor: pointer;
}
#pathID {
  margin-left: 6px;
  display: inline;
  width: 110px;
}
.save {
  padding-top: 10px;
}
.saveColor {
  padding-top: 10px;
}
#too{
margin-bottom: 10px;
}
.toolbar {
  margin-top: 25px;
}
.brushsizeboard {
  padding-top: 15px;
}
.custombutton {
  width: 50px;
  height: 50px;
  background-color: black;
}
button.main {
  background-image: linear-gradient(
    to bottom,
    #ff7391 0%,
    #ff5a75 50%,
    #ff435c 100%
  );
  width: 142px;
  height: 40px;
  border: 0;
  border-radius: 15px;
  color: #fff;
  position: relative;
  z-index: 100000000000000;
}
#canV{
  margin-top:20px;
}
#canvasView{
  border-color: #ff435c;
  border-width: 10px;
}
button.main:hover {
  cursor: pointer;
}
#register{
  width: 115px;
}
#saveIMG {
  margin-right:10px;
}
#saveredo{
  margin-top:5px;
}
#redo {
  display: inline;
  border: 1px solid #cacaca;
  padding: 5px;
  margin-left:6px;
}
#selectcolor {
  width: 50px;
  height: 50px;
  
}
.pencolor{
  width: 45px;
  float: left;
  margin-right:5px;
 					
  background-color: #fff;
}
.pencolorselect{
  background-color: #cacaca;
}
.pencolor:hover{
  cursor: pointer;
}
.pensize {
  width: 50px;
  float: left;
  margin-right: 0px;
  background-color: #fff;
  border: 1px solid #cacaca;
}
.pensizetext {
  width: 50px;
  float: left;
  margin-right: 0px;
  background-color: #fff;
  border: 1px solid #cacaca;
}
.penstyleboard {
  padding-left: 0px;
  padding-top: 10px;
}
.penstyle {
  width: 50px;
  height: 50px;
  float: left;
  background-color: #fff;
  border: 1px solid #cacaca;
}
.penstyleselect {
  background-color: #cacaca;
}
.penstyle:hover {
  cursor: pointer;
}
.mode{
  color: black;
  border:1px solid #ebebeb;
  display: inline;
  background: #fff;
  border-radius: 10px;
  font-weight: bold;					
}
.mode:hover{
  cursor: pointer;
}
.modeselect{
  background: #d6d37e;
}


.icon {
  width:47px;
  background-color: #fff;
}
.icon:hover {
  cursor: pointer;
}
.iconselect {
  background-color: #ebebeb;
}

.dropdown-item {
  padding: 0px;
}
#pensizeid {
  text-align: center;
}
.shortmenu{
  display: none;
}
#background {
  width: 100%;
  height: auto;
}
.img{
  padding-right: 10px;
}
img.img:hover{
  opacity: 0.5;
}
button:hover{
  cursor: pointer;
}
.can{
  display: "";
}